<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lenovo.enjoyball">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
        android:name=".Info"
        android:allowBackup="true"
        android:icon="@drawable/bd"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.lenovo.Activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.lenovo.Activity.MainActivity"/>
        <activity android:name="com.example.lenovo.Activity.NewsDetailActivity"/>
        <activity android:name="com.example.lenovo.Activity.FeedBackActivity" />
        <activity android:name="com.example.lenovo.Activity.CollectActivity" />
        <activity android:name="com.example.lenovo.Activity.TreatyballActivity" />
        <activity android:name="com.example.lenovo.Activity.RegisterActivity" />
        <activity android:name="com.example.lenovo.Activity.ForgetActivity" />
        <activity android:name="com.example.lenovo.Activity.HomeActivity" />
        <activity android:name="com.example.lenovo.Activity.TeamDetailActivity" />
        <activity android:name="com.example.lenovo.Activity.PersonalcenterActivity" />
        <activity android:name="com.example.lenovo.Activity.HomepageActivity" />
        <activity android:name="com.example.lenovo.Activity.PerinfoActivity" />
        <activity android:name="com.example.lenovo.Activity.TeamActivity" />
        <activity android:name="com.example.lenovo.Activity.TeamCreateActivity"/>
        <activity android:name="com.example.lenovo.Activity.PerinfoSignatureActivity"/>
        <activity android:name="com.example.lenovo.Activity.PerinfoEmailActivity"/>
        <activity android:name="com.example.lenovo.Activity.PerinfoNicknameActivity"/>
    </application>

</manifest>